
* {
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color:lightgray;
    color: black;
    margin: 20px
}


h1 {
    color: darkblue;
}

h2 {
    color: blue;
}


section {
    background-color: white;
    padding: 15px;
    margin-bottom: 20px;
}


img {
    width: 200px;
}



table {
    width: 100%;
    border-collapse: collapse;
   
}

th,
td {
    border: 1px solid black;
    padding: 12px;
 
}

th {
    background-color: lightblue;
}

a {
    color: blue;
}



form {
    background-color: white;
    padding: 15px;

}

